<!--<header>-->
<!--  <%# if user_signed_in? %>-->
<!--    <li>-->
<!--      <%#= link_to '投稿フォーム', new_video_path %>-->
<!--    </li>-->
<!--    <li>-->
<!--      <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>-->
<!--    </li>-->
<!--  <%# else %>-->
<!--    <li>-->
<!--      <%#= link_to "新規登録", new_user_registration_path %>-->
<!--    </li>-->
<!--    <li>-->
<!--      <%#= link_to "ログイン", new_user_session_path %>-->
<!--    </li>-->
<!--  <%# end %>-->
<!--</header>-->

<div id="sp-menu">
      <h2>MENU</h2>

        <% if user_signed_in? %>
        <ul>
        <li><a href="new_video_path">投稿フォーム</a></li>
        <li><a href="videos_path">投稿一覧</a></li>
        <li><a href="#">タグ一覧</a></li>
        <li><a href="#">ユーザー一覧</a></li>
        <li><a href="destroy_user_session_path">ログアウト</a></li>
        </ul>
        <% else %>
        <ul>
        <li><a href="root_path">Topページ</a></li>
        <li><a href="about_path">Aboutページ</a></li>
        <li><a href="new_user_registration_path">新規登録</a></li>
        <li><a href="new_user_session_path">ログイン</a></li>
        </ul>
      <% end %>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span>Menu</span>
        <span></span>
      </a>
    </div>